**/__pycache__/
**/*.py[cod]
**/*.sqlite3
backend/venv/
backend/staticfiles/
backend/frontend_dist/
.env
frontend/.env
**/*.egg-info/

node_modules/
frontend/dist/
frontend/.vite/
npm-debug.log*

.DS_Store
.vscode/
.idea/
*.swp
venv/
.git/
docs/
run.md
